@model EmployeePersonalData

@{
    ViewData["Title"] = "Add";
    SelectList deptitem = new SelectList(ViewBag.deptlist, "Id", "Name");

}



<h4>اضافة موظف </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
          
            <h3 style="   border: 2px solid black;
                border-radius: 5px;">
            البيانات الشخصية 
            </h3>
            <div class="form-group">
                <label  class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">العنوان</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">رقم الهاتف</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">الجنس</label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">الجنسية</label>
                <input asp-for="National" class="form-control" />
                <span asp-validation-for="National" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">تاريخ الميلاد</label>
                <input asp-for="Birthday" class="form-control" type="date" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">الرقم القومي</label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >القسم</label>

                <select class="form-control" asp-for="DepartmentId" asp-items="deptitem">
                    <option value="0">--Select Department--</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
          <br />
            <h3 style="   border: 2px solid black;
                border-radius: 5px;">
                بيانات العمل
            </h3>
          <br />
            <div class="form-group">
                <label  class="control-label">تاريخ التعاقد</label>
                <input asp-for="WorkDate" class="form-control" type="date"/>
                <span asp-validation-for="WorkDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  class="control-label">الراتب</label>
                <input asp-for="salary" class="form-control" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">موعد الحضور</label>
                <input asp-for="AttandanceDate" class="form-control" type="time" />
                <span asp-validation-for="AttandanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">موعد الانصراف</label>
                <input asp-for="OutDate" class="form-control" type="time" />
                <span asp-validation-for="OutDate" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">الرجوع للقائمة </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
