@model Infrastructure.ViewModels.AttendanceViewModel
@{
    ViewData["Title"] = "GetattendByID";
}

<h1>GetattendByID</h1>

<table>
    <tr>
        <td>ID:</td>
        <td>@Model.id</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.employeeName</td>
    </tr>
    <tr>
        <td>Employee ID:</td>
        <td>@Model.attend</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>@Model.Departure</td>
    </tr>
</table>