@model IEnumerable<Attendance>
@{
    ViewData["Title"] = "GetAllAttendeds";
}

<h1>GetAllAttendeds</h1>


    <h1>Attendance Records</h1>

    <form>
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Student Name</th>
                <th>Attendance Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.EmployeeId</td>
                    <td>@record.EmployeePersonalData.Name</td>
                    <td>@record.Attend</td>
                </tr>
            }
        </tbody>
    </table>
